CybersecurityAwarenessBot/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
.vs/CybersecurityAwarenessBot/v17/.suo
.vs/CybersecurityAwarenessBot/FileContentIndex/ed6e0bde-bac8-4203-b071-c2f660ddd773.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/d4b0472d-c333-4747-96e2-c25f9a4497af.vsidx
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.GeneratedMSBuildEditorConfig.editorconfig
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.AssemblyInfoInputs.cache
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.AssemblyInfo.cs
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.GlobalUsings.g.cs
.vs/CybersecurityAwarenessBot/FileContentIndex/32c8e640-e81f-4c3f-a5db-6ff21ce3d656.vsidx
.vs/CybersecurityAwarenessBot/DesignTimeBuild/.dtbcache.v2
.vs/CybersecurityAwarenessBot/FileContentIndex/8e231e6c-4e77-435d-a3db-914d5a31a2c3.vsidx
.vs/CybersecurityAwarenessBot/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
.vs/CybersecurityAwarenessBot/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
.vs/CybersecurityAwarenessBot/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
.vs/CybersecurityAwarenessBot/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
.vs/CybersecurityAwarenessBot/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
.vs/CybersecurityAwarenessBot/CopilotIndices/17.14.1577.30250/CodeChunks.db
.vs/CybersecurityAwarenessBot/FileContentIndex/0a966c54-36d5-48a2-be57-77477f2b806d.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/36136482-ee9d-4752-a29d-af7a0501f68a.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/c1a66d8d-8aa4-4e13-ad06-7b39b85e0ca3.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/81071110-6a72-4087-a4f8-4884f54f6a4b.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/0827bab7-67c0-4b0b-8cf0-83740659fbcb.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/38d9be46-bbbc-42d9-b94e-0f3181b453d6.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/515f0333-7287-4bde-b7e1-983c76b186fb.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/ce285347-7592-4fd7-970f-c67cdb925725.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/f085c6c5-4db1-4d5d-b50f-aa26641a462f.vsidx
.vs/CybersecurityAwarenessBot/v17/.futdcache.v2
.vs/CybersecurityAwarenessBot/v17/DocumentLayout.backup.json
.vs/CybersecurityAwarenessBot/v17/DocumentLayout.json
.vs/ProjectEvaluation/cybersecurityawarenessbot.metadata.v9.bin
.vs/ProjectEvaluation/cybersecurityawarenessbot.projects.v9.bin
.vs/ProjectEvaluation/cybersecurityawarenessbot.strings.v9.bin
CybersecurityAwarenessBot/bin/Debug/net8.0/CybersecurityAwarenessBot.deps.json
CybersecurityAwarenessBot/bin/Debug/net8.0/CybersecurityAwarenessBot.dll
CybersecurityAwarenessBot/bin/Debug/net8.0/CybersecurityAwarenessBot.pdb
CybersecurityAwarenessBot/bin/Debug/net8.0/CybersecurityAwarenessBot.runtimeconfig.json
CybersecurityAwarenessBot/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Windows.Extensions.dll
CybersecurityAwarenessBot/bin/Debug/net8.0/System.Windows.Extensions.dll
CybersecurityAwarenessBot/obj/CybersecurityAwarenessBot.csproj.nuget.dgspec.json
CybersecurityAwarenessBot/obj/CybersecurityAwarenessBot.csproj.nuget.g.props
CybersecurityAwarenessBot/obj/CybersecurityAwarenessBot.csproj.nuget.g.targets
CybersecurityAwarenessBot/obj/Debug/net8.0/Cybersec.920C63E9.Up2Date
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.assets.cache
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.csproj.AssemblyReference.cache
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.csproj.BuildWithSkipAnalyzers
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.csproj.CoreCompileInputs.cache
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.csproj.FileListAbsolute.txt
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.dll
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.genruntimeconfig.cache
CybersecurityAwarenessBot/obj/Debug/net8.0/apphost.exe
CybersecurityAwarenessBot/bin/Debug/net8.0/CybersecurityAwarenessBot.exe
CybersecurityAwarenessBot/obj/Debug/net8.0/ref/CybersecurityAwarenessBot.dll
CybersecurityAwarenessBot.sln
CybersecurityAwarenessBot/Audio/greeting.wav
CybersecurityAwarenessBot/bin/Debug/net8.0/Assets/ascii-logo.txt
CybersecurityAwarenessBot/bin/Debug/net8.0/Audio/greeting.wav
CybersecurityAwarenessBot/bin/Debug/net8.0/Audio/greeting.wav.wav
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.pdb
CybersecurityAwarenessBot/obj/Debug/net8.0/refint/CybersecurityAwarenessBot.dll
CybersecurityAwarenessBot/obj/project.assets.json
CybersecurityAwarenessBot/obj/project.nuget.cache
.vs/CybersecurityAwarenessBot/FileContentIndex/18b6d9db-41ac-4156-9f83-3ec9e1dc71a1.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/1a81627f-8bc8-48bc-9dd6-d144949523b3.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/a7022bb3-1ae8-47c8-b15e-5b414c220040.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/f4f8c3eb-09b9-4b96-810d-3ee801f4ec93.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/f9b5c6cf-274f-4368-8cc8-d5f10b367bcc.vsidx
.vs/CybersecurityAwarenessBot/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
CybersecurityAwarenessBot/.vs/CybersecurityAwarenessBot/FileContentIndex/f1ff3085-6d8d-45c9-9fea-399d87a49953.vsidx
CybersecurityAwarenessBot/.vs/slnx.sqlite
CybersecurityAwarenessBot/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CybersecurityAwarenessBot/obj/Release/net8.0/CybersecurityAwarenessBot.AssemblyInfo.cs
CybersecurityAwarenessBot/obj/Release/net8.0/CybersecurityAwarenessBot.AssemblyInfoInputs.cache
CybersecurityAwarenessBot/obj/Release/net8.0/CybersecurityAwarenessBot.assets.cache
CybersecurityAwarenessBot/obj/Release/net8.0/CybersecurityAwarenessBot.csproj.AssemblyReference.cache
CybersecurityAwarenessBot/obj/Release/net8.0/CybersecurityAwarenessBot.GeneratedMSBuildEditorConfig.editorconfig
CybersecurityAwarenessBot/obj/Release/net8.0/CybersecurityAwarenessBot.GlobalUsings.g.cs
