CybersecurityAwarenessBot/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
.vs/CybersecurityAwarenessBot/v17/.suo
.vs/CybersecurityAwarenessBot/FileContentIndex/ed6e0bde-bac8-4203-b071-c2f660ddd773.vsidx
.vs/CybersecurityAwarenessBot/FileContentIndex/d4b0472d-c333-4747-96e2-c25f9a4497af.vsidx
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.GeneratedMSBuildEditorConfig.editorconfig
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.AssemblyInfoInputs.cache
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.AssemblyInfo.cs
CybersecurityAwarenessBot/obj/Debug/net8.0/CybersecurityAwarenessBot.GlobalUsings.g.cs
.vs/CybersecurityAwarenessBot/FileContentIndex/32c8e640-e81f-4c3f-a5db-6ff21ce3d656.vsidx
.vs/CybersecurityAwarenessBot/DesignTimeBuild/.dtbcache.v2
